
/*header*/
header {
  width: 100%;
  background-image: url(img/Decoracion-en-color-verde-la-nueva-tendencia-para-transformar-tu-hogar.jpg) ;
   background-size: 100% 150%; /* Ajusta según tus necesidades https://zolvers.com/img/home_new/home.webp */
  background-repeat: no-repeat ;
  height: 17em;
}
header img{
  width: 5em;
  
}

.escritoHeader {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.link-button {
  border: none;
  padding: 5px 12px;
  border-radius: 10px;
  background-color: aliceblue;
  color:#4CAF50;
  text-decoration: none; /* Asegúrate de que los enlaces no tengan subrayado */
  cursor: pointer;
 font-size: 1.5rem;
}

/* Estilos para el enlace dentro del botón */
.link-button a {
  color: inherit;
  text-decoration: none;
}

/* Enfocar el botón */
.link-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5);
}

.link-button:hover {
background-color:#4CAF50;
color: aliceblue;
}

/*fin header/*


/*NAVBAR */
.navbar {
  display: flex;
justify-content: space-between;
  align-items: center;
  margin-right: 3em;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-right: 1em;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}
.nav-login{
  border: none; /* Eliminar borde */
  background-color: transparent; /* Fondo transparente */
  color: #fff;

  font-weight: bold;
  font-size: 1rem;
}
.nav-login:hover{
color: rgb(19, 19, 19);
}

.nav-MiPerfil{
  border: none; /* Eliminar borde */
  background-color: transparent; /* Fondo transparente */
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}
.nav-MiPerfil:hover{
  color: rgb(138, 137, 137);
  }
/* FIN NAVBAR */

/*servicio brindado*/
#titulo-servicios {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #034c63;
    font-style: italic;
  }

#contenedor-servicios img {
    width: 8em;
    height: 5em;
    border: 1px solid black;
    border-radius: 10px;
 
}

#contenedor-servicios {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 4.5em;
    

  

}

#contenedor-servicios p {
    display: flex;
    justify-content: center;
    font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
   
}


.link-button-servicio {
  color:#7fb380;
text-decoration: none; 
 font-size: 20px;

}


.link-button-servicio a {
  color: inherit;
  text-decoration: none;
}

.contenedor-link-button-servicio{
margin-left: 10px;

}

.contenedor-link-button-servicio:hover{
background-color: #B2BAC8;
}

#boton-prestacion-servicio {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;

}

#boton-prestacion-servicio button {
    background-color: burlywood;
    color: aliceblue;
    font-weight: 700;
    height: 3em;
    border-radius: 10px;

}
#boton-prestacion-servicio button a{
    color: inherit;
    text-decoration: none;
}
#boton-prestacion-servicio button:hover{
  background-color:rgb(214, 160, 89) ;
}


/*fin servicio*/

/*inicio seguridad y confianza*/
#contenedor-seguridad-confianza {
  width: 100%;
    background-image: url(img/seguridad-y-confianza.webp);/**/
  background-repeat: no-repeat;
  background-size:  100%;
    height: 35em;
    
}

#seguridad-confianza {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-left: 1em;
    font-family: Arial, Helvetica, sans-serif;

}

#seguridad-confianza h3 {
    margin-bottom: 25px;
    color: rgb(27, 165, 119);
    font-weight: 700;
}

#seguridad-confianza p {
    margin-bottom: 20px;
}

#seguridad-confianza button {
    margin-top: 2rem;
    height: 3em;
    width: 20em;
    border-color: rgb(115, 241, 115);
    color: rgb(69, 167, 69);
    background-color: transparent;
    
}
#seguridad-confianza button a {
color: inherit;
    text-decoration: none;
}

#seguridad-confianza button:hover {
  background-color:#4CAF50;
  color: aliceblue;
  }


/*fin seguridad y confianza*/
#carrusel-comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

#carrusel-comentarios h3 {
    margin-bottom: 1em;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


#garantia-satisfaccion {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(55, 207, 157);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 13px;
}

#garantia-satisfaccion h4 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 22px;
}






.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: rgb(88, 192, 157);
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(118, 209, 179);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  

  /*  FORMULARIO CREAR TRABAJO*/


  .formulario-registro{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
    
    
  }

  .form-trabajo{
    display: flex;
    flex-direction: column;
  border: 1px solid black;
  background-color: #013747;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em 3em 1em 3em;
  max-width: 30em;
  }
  .form-trabajo h3{
    color: #4CAF50;
    display: flex;
    justify-content: center;
    background-color: #034c63;;
    margin-bottom: 1em;
    font-weight: 600;
  }

  .form-trabajo-datos{
margin-bottom: 1em;
  }

  .form-trabajo label{
font-size: 1.2em;
border: 1px solid black;
background-color: slategray;
color: #e4e3e3;
margin-right: 1em;
display: flex;
justify-content: center;
  }
  .form-trabajo select{
   width: 20em;
   display: flex;
   justify-content: center;
  }

  .input-trabajo{
width: 22em;
height: 8em;
max-width: 22.5em;
max-height: 10em;

  }

  .form-trabajo button{
    border-radius: 10%;
    background-color: rgb(196, 223, 184);
    color: inherit;
  
  }
/* FIN FORMULARIO TRABAJO */

  .lista-proveedores{
background-color: rgb(207, 245, 245);
border: 1px solid black;
width: 100%;


  }
 
 
  #lista-columnas th{
    border: 1px solid black;
    
  }
  #lista-filas td{
    border: 1px solid black;
    background-color: rgb(202, 248, 158);
    font-weight: 600;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    
  }

 /* trabajo*/
 .carta-proveedores{
display: flex;


 }
 .col{
  width: auto;
 }
 
 .card-body{
  background-color: rgb(231, 231, 231);
  border: 1px solid black;
 
 }
 .card-text{
  display: flex;
  justify-content: center;
 }

 .carta-usuarios{
  display: flex;
  margin: 8px;
 }
 .tbody-usuario-proveedor{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  
 }



/*lista trabajos*/
.lista-trabajos{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  
 }
 .lista-trabajos-titulo{ /*h2*/
  display: flex;
  justify-content: center;
  -webkit-text-stroke: #28c235;
  -webkit-text-stroke-width: 0.3px;
 
 }
 .lista-trabajos-subtitulos{ /*h4*/
background-color: #e4e4e4;
padding-left: 1em;
font-weight: 400;
 }

 .sin-lista-trabajo{
  display: flex;
  justify-content: center;
  padding-top: 1em;
padding-bottom: 2em;
-webkit-text-stroke: #28c235;
  -webkit-text-stroke-width: 0.3px;
 
 }

 .btn-group{
  background-color: rgb(233, 231, 231);

}
 .btn-group a{
color: black;
text-decoration: none;
 }
 .btn-comentario{
  border: 0;
  background-color: transparent;
 }

 .form-comentario{
  display: block;
 
 }
 .form-comentario label{
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
 display: flex;
 justify-content: center;
}
 .estrellas-comentario{
 display: flex;
 flex-direction: row-reverse;
 justify-content: center;
 }
 .texto-comentario{
  display: flex;
  justify-content: center;
 }
 .form-comentario textarea{
  width: 25em;
  height: 7em;
 }
 .btn-calificacion{
  display: flex;
  justify-content: end;
  margin-top: 0.5em;
 
 }
 .btn-calificacion button{
  border-radius: 10%;
  background-color: rgb(196, 223, 184);
 
 
 }

 .modal-comentario{
  background-color: rgb(206, 226, 197);
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgb(211, 211, 211);

 }

/*fin trabajo*/

/*detalle trabajo*/


.detalle-trabajo-form{
display: flex;
flex-direction: column;
background: radial-gradient(black, transparent);
}
.form-container {
  
  max-width: 70em;
  margin: 1em;
 
  background-color: #001925;
  padding: 4em;
  border-left: 5px solid #4CAF50;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
  display: block;
  color: #4CAF50;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}


.form-container .form-detalle-trabajo .input-detalle-trabajo {
  color: #ffffff;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}
.form-container .form-detalle-trabajo .input-detalle-trabajo span{
  color: #87a4b6;
}


.form-container .form-detalle-trabajo .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: #fffdfd;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}





.form-container .form-detalle-trabajo .button-container .send-button {
  flex-basis: 70%;
  background: #367c39;
  padding: 10px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: space-around;
}
.form-container .form-detalle-trabajo .button-container .send-button button {
 background-color: #013747;
 border-radius: 8%;
 color: rgb(207, 203, 203);
}

.form-container .form-detalle-trabajo .button-container .send-button:hover {
  background: transparent;
  color: rgb(207, 203, 203);
}
.form-container .form-detalle-trabajo .button-container .send-button button:hover {
  background: #4CAF50;
 
}




/*fin detalle trabajo*/



.card_header {
  display: flex;
  align-items: center;
}

.card svg {
  color: #7878bd;
  margin-bottom: 20px;
  margin-right: 5px;
}

.form_heading {
  padding-bottom: 20px;
  font-size: 21px;
  color: #7878bd;
}

.field {
  padding-bottom: 10px;
}

.input-login {
  border-radius: 5px;
  background-color: #e9e9f7;
  padding: 5px;
  width: 100%;
  color: #7a7ab3;
  border: 1px solid #dadaf7
}
.error-message{
  color:rgb(192, 15, 15)
}

.input-login:focus-visible {
  outline: 1px solid #aeaed6;
}

.input-login::placeholder {
  color: #bcbcdf;
}

.label-login {
  color: #B2BAC8;
  font-size: 14px;
  display: block;
  padding-bottom: 4px;
}

#button-login {
  background-color: #7878bd;
  margin-top: 10px;
  font-size: 14px;
  padding: 7px 12px;
  height: auto;
  font-weight: 500;
  color: white;
  border: none;
}

#button-login:hover {
  background-color: #5f5f9c;
}
/*LOGIN*/
.modal-login{
  background-color: rgb(206, 226, 197);
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.login{
 height: 10em;
}
.login-input{

height: 4em;
padding: 1em;
display: flex;
justify-content: start;

}
.login label{
  margin-right: 1em;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  align-self: center;

}
.login input{
  border-radius: 10%;
}
.login input:hover{
  background-color: #e4e3e3;
}
.login-button{
  display: flex;
justify-content: end;
margin-top: 0.5em;

}
.login button{
  background-color: rgb(196, 223, 184);
  border-radius: 10%;
 
  font-family: Arial, Helvetica, sans-serif;
}
.login button:hover{
  background-color: rgb(147, 179, 133);
  font-weight: 600;
}
/*FIN LOGIN*/

/* DETALLE PROVEEDOR  
INICIO*/
.perfil-usuario-proveedor{
font-family: Arial, Helvetica, sans-serif;
 
}

.perfil-usuario-proveedor button a{
  text-decoration: none;
  color: inherit;
}
.perfil-usuario-proveedor-botones-perfil{
  
  display: flex;
  justify-content: space-around;
  background-color: #dadada;
  padding-bottom: 1em;
}

.detalle-cabecera{
  border-bottom: 1px solid black;

  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
 padding-bottom: 2em;
 background-color: rgb(88, 192, 157);
 color: rgb(255, 255, 255);
 padding-top: 1em;
 
}
.detalle-cabecera img{
  width: 15em;
  border: 1px solid black;
  border-radius: 50%;
}

  .detalle-perfil{
  background-color: #dadada;
  display: flex;
  justify-content: center;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;

}

.detalle-perfil .descripcion{
  margin-left: 3em;
}


.detalle-perfil-titulo h4{
  background-color: #dadada;
  padding-left: 8em;
  padding-top: 1em;
  padding-bottom: 1em;
color: rgb(88, 192, 157);
text-shadow: -0.5px 0px 0 rgb(15, 15, 15);
margin: 0;
}

.detalle-perfil-article2{
  background-color: #dadada;
  padding-top: 1em;
 padding-left: 2em;

}

.detalle-perfil-datos{
display: flex;
margin-bottom: 1em;
}
.perfil-titulo{
font-weight: 600;
 width: 8em;
 display: flex;
 
}

.perfil-valor{
  margin-left: 5em;
  color: #666666;
}

.detalle-perfil-botones{
display: flex;
justify-content: center;
align-items: center;
color: aliceblue;
background-color: rgb(88, 192, 157);
border: 1px solid black;
width: 15em;
height: 2.5em;
font-size: 20px;

}
.detalle-perfil-botones a{
  text-decoration: none;
  color: inherit;
}

.detalle-perfil-botones-div{
display: flex;
justify-content: center;
margin-top: 3em;
}

.detalle-perfil-calificaciones-comentarios{
margin-bottom: 3em;
padding-top: 4em;
 }

 .comentarios-proveedores-datos{
  display: flex;
  
  }
  .comentarios-proveedores-datos p {
    margin-right: 3em;
    font-weight: 600;
  }

/*
FIN DETALLE PROVEEDOR
*/

/*
PERFIL USUARIO
*/
.detalle-img{
height: 1px;
  width: 1px;
}

/*FIN PERFIL USUARIO
*/


 .escritura-formulario{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20em;
  align-self: flex-start;
  margin-left: 8em;
  margin-top: 8em;
  font-family: Arial, Helvetica, sans-serif;
 }
 .formulario{
  display: flex;
  background-color: rgb(243, 241, 241);
 }
 #cabecera-formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-color: rgb(88, 192, 157);
  color: aliceblue;

 }

#como-funciona-registro{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-top: 1em;
}
.como-funciona-registro-elementos{
display: flex;
justify-content: center;
align-items: center;
margin-right: 1em;
margin-top: 1em;
}


.rating:not(:checked) > input {
  position: absolute;
  appearance: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
  color: #666;
}

.rating:not(:checked) > label:before {
  content: "★";
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #e58e09;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ff9e0b;
}

.rating > input:checked ~ label {
  color: #ffa723;
}


.caja-comentario-flecha{
  max-width: 15em;
  min-width: 15em;
  

}



/*preguntas frecuentes*/
.Preguntas-frecuentes{
  background-color: #dbdbdb;
}

.Preguntas-frecuentes-titulo{
  text-align: center;
  padding-top: 3em;
  height: 15em;
  color: white;
  background-color: #001925;
}
.Preguntas-frecuentes-titulo h2{
font-size: 3.5em;
font-weight: 800;
margin-bottom: 0.5em;
}
.Preguntas-frecuentes-titulo p{
  font-size: 1.2em;
}

.contenedor-items{
 margin-bottom: 3em;
margin-top: 2em;
}
.Preguntas-frecuentes-items{
  padding: 1em;

}
.Preguntas-frecuentes button{
  border: 0;
  background-color: transparent;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
 }
.Preguntas-frecuentes button:hover{
background-color: rgba(0, 128, 0, 0.699);
border-radius: 3.5%;
}

.Preguntas-frecuentes-items p{
  border: 0.1px solid rgba(0, 0, 0, 0.178);
  background-color: #cbd0d1;
  max-width:40em;
  padding-left: 1em;
  padding: 1em;
  border-radius: 4%;
}
/*fin preguntas frecuentes*/
.contenedor-modificar-usuario-proveedor{
  display: flex;
  justify-content: center;
}
.modificar-usuario-proveedor{
  display: flex;
 flex-direction: column;
 padding: 1em;
 border: 0.5px solid rgba(0, 0, 0, 0.205);
 max-width: 40em;
 margin-top: 1em;
 border-radius: 3%;

}
.modificar-usuario-proveedor button{
margin-top: 1em;
}
.modificar-h1{
  display: flex;
  justify-content: center;
  -webkit-text-stroke: #28c235;
  -webkit-text-stroke-width: 0.3px;
}


.trabajo-aceptado-datos-prov{
  background-color: #034d6383;
  padding-bottom: 1em;
  padding-top: 1em;

}
.trabajo-aceptado-datos-prov h1{
  display: flex;
  justify-content: center;
  color: rgb(202, 24, 24);
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #001925;
}
.trabajo-aceptado-datos-prov p {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 1.2em;
  color: #013747;
}

footer {
  background-color: #333; /* Color oscuro para el fondo del footer */
  color: #fff; /* Texto en color blanco */
  padding: 20px 0; /* Espacio de relleno en la parte superior e inferior */
  text-align: center; /* Alinea el texto al centro */
}

.container-footer {
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.sin-autorizacion{
  max-width: 30em;
  text-align: center;
  margin-bottom: 2em;
}
.sin-autorizacion img{
  width: 25em;
  margin-left: 2em;

}
.contenedor-sin-autorizacion{
  display: flex;
  justify-content: center;
}

.pagina-no-encontrada{
  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 5em;
}
.pagina-no-encontrada h1{
  font-size: 10em;
  color: rgb(197, 6, 6);
}
.pagina-no-encontrada h4{
  font-size: 2em;
}

.fondo{
  background: radial-gradient(rgb(211, 211, 211), transparent);

}

body{
  background: radial-gradient(rgb(211, 211, 211), transparent);
}

